@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */

html,
body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-input {
  @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

.app-input-label {
  @apply block text-sm font-medium text-gray-700;
}

.active-link {
  @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
}
.inactive-link {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
}
.no-margin {
  margin: 0 !important;
}
