<!-- This is an example component -->
<div>


<div class="antialiased sans-serif bg-gray-100 h-screen">
	<div>
		<div class="container mx-auto px-4 py-2 md:py-24">
			<div class="bg-white rounded-lg shadow overflow-hidden">
				<div class="flex items-center justify-between py-2 px-6">
					<div>
						<span class="text-lg font-bold text-gray-800"> {{MONTH_NAMES[month]}}</span>
						<span class="ml-1 text-lg text-gray-600 font-normal"> {{year}}</span>
					</div>
					<div class="border rounded-lg px-1" style="padding-top: 2px;">
						<button 
							type="button"
							class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 items-center" 
							(click)="prevMonth()"
							[ngClass]="{'cursor-not-allowed opacity-25': month == 0 }"
							[disabled]="month == 0">
							<!--:disabled="month == 0 ? true : false" -->
							<svg class="h-6 w-6 text-gray-500 inline-flex leading-none"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
							</svg>  
						</button>
						<div class="border-r inline-flex h-6"></div>		
						<button 
							type="button"
							class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 p-1" 
							[ngClass]="{'cursor-not-allowed opacity-25': month == 11 }"
							(click)="nextMonth()"
							[disabled]="month == 11">
							<svg class="h-6 w-6 text-gray-500 inline-flex leading-none"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
							</svg>									  
						</button>
					</div>
				</div>	

				<div class="-mx-1 -mb-1">
					<!-- days of the week-->
					<div class="flex flex-wrap" style="margin-bottom: -40px;">
                        <ng-container *ngFor="let day of DAYS">
                            <div style="width: 14.26%" class="px-2 py-2">
								<div class="text-gray-600 text-sm uppercase tracking-wide font-bold text-center">
                                    {{day}}
                                </div>
							</div>
                        </ng-container>
					</div>

					<!-- blank days at the beginning of each month-->
					<div class="flex flex-wrap border-t border-l">
						<ng-container *ngFor="let blankday of blankdays">
							<div style="width: 14.28%; height: 120px" class="text-center border-r border-b px-4 pt-2">
						</div>
						</ng-container>

						<ng-container *ngFor="let date of noOfDays">	
							<app-calendar-day 
								[year]="year" 
								[month]="month" 
								[date]=date 
								[events]="getEventsForDate(date)" 
								(onSelectDate)="showEventModal($event)"
								(onSelectDateEvent)="selectRecipe($event)"
								style="width: 14.28%; height: 120px" 
								class="px-4 pt-2 border-r border-b relative">
							</app-calendar-day>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div *ngIf="openEventModal" style=" background-color: rgba(0, 0, 0, 0.8)" class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full">
			<div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-24">
				<div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
				(click)="openEventModal = !openEventModal">
					<svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path
							d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
					</svg>
				</div>

				<div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">
					
					<h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Select Recipe</h2>

					<div class="mb-4">
						<label class="text-gray-800 block mb-1 font-bold text-sm tracking-wide">Date</label>
						<input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" 
						type="text"[(ngModel)]="recipeDate" disabled="true">
					</div>
					<!-- select recipe-->
					<div class="inline-block w-64 mb-4">
						<label class="text-gray-800 block mb-1 font-bold text-sm tracking-wide">Select a recipe</label>
						<div class="relative">
							<select [(ngModel)] ="eventRecipe" class="block appearance-none w-full bg-gray-200 border-2 border-gray-200 hover:border-gray-500 px-4 py-2 pr-8 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500 text-gray-700">
								<ng-container *ngFor="let recipe of recipes">
									<option [ngValue]="recipe">{{recipe.description}}</option>
								</ng-container>
							</select>
						</div>
					</div>
					<!-- select tag-->
					<div class="inline-block w-64 mb-4">
						<label class="text-gray-800 block mb-1 font-bold text-sm tracking-wide">Select a tag</label>
						<div class="relative">
							<select [(ngModel)] ="eventTheme" class="block appearance-none w-full bg-gray-200 border-2 border-gray-200 hover:border-gray-500 px-4 py-2 pr-8 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-blue-500 text-gray-700">
								<ng-container *ngFor="let theme of themes">
									<option [ngValue]="theme">{{theme.label}}</option>
								</ng-container>
							</select>
						</div>
					</div>
 
					<div class="mt-8 text-right">
						<button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded-lg shadow-sm mr-2" (click)="openEventModal = !openEventModal">
							Cancel
						</button>	
						<button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm" (click)="addEvent()">
							Add Recipe
						</button>	
					</div>
				</div>
			</div>
		</div>
		<!-- /Modal -->
	</div>
  </div>